@{
    ViewBag.Title = "Storage Index";
}

<h1>Microsoft Azure</h1>
<ul>
    <li>34 datacenter regions</li>
    <li>85% of Fortune 500 companies use the Microsoft Cloud</li>
    <li>120,00 new Azure customer subscriptions per month</li>
</ul>
